name: Deploy Plugin to WordPress via SFTP

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      # 1. Ambil kode dari repository
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. Upload ke Shared Hosting (Tanpa Build Node.js)
      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@4.3.3
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps 
          port: 21
          
          # Upload semua file dari folder saat ini
          local-dir: ./
          
          # Lokasi di hosting
          server-dir: /public_html/umrohweb.site/wp-content/themes/umrohweb-theme/
          
          # File yang tidak perlu di-upload
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            .github/**
            .gitignore
            README.md